<section ng-controller="mikeCtrl">

	<div class="entryBoxes entryBoxesGrid">
		<div ng-repeat="oneTenant in tenants" class="dbBox" style="width:32%;height:140px;">
			<div class="head">
				<h4>{{oneTenant.name}} [ {{oneTenant.code}} ] </h4>
			</div>
			<div class="info2">
				<p>{{oneTenant.description}}</p>
			</div>
		</div>
	</div>
</section>